<h3>Novo Tipo de Comida</h3>
<div class="row">
  <div class="col-md-12">
    <%= simple_form_for @type do |f| %>
      <div class="form-group">
        <%= f.input :name, label: 'Nome' %>
        <%= f.button :submit, 'Salvar tipo de comida', class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
